.erlang.mk
**/*.d
_rel
ebin
fullpass.d
**/*.sw*
.s*
deps
**/*DS*
**/*node_modules
**/*.lock
**/*.dump
run
**/*dist
**/*elm-stuff
tmp
Mnesia*
**/*.lock
**/*.retry
_build
*.dot
*.png
**/*.beam
config/sys.config
config/vm.args
templates/sys.config
