{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.9"}}},
        {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
        {jsone, {git, "https://github.com/sile/jsone.git", {tag, "v0.3.3"}}},
        {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git"}}, 
        {mini_s3, {git, "https://github.com/chef/mini_s3.git"}}, 
        {rbeacon, {git, "https://github.com/refuge/rbeacon.git", {branch, "master"}}}
       ]
}.

{relx, [{release, {cmrtc, "0.1.0"},
         [inets,
          xmerl,
          jsone,
          cowboy,
          gun,
          rbeacon,
          uuid,
          mini_s3,
          cmkit,
          cmdb,
          cmweb,
          cmcluster,
          %cmsoup,
          cmsocial,
          cmpresence,
          cmplaces,
          cmevents,
          cmrtc,
          cmui,
          sasl]},

        %{sys_config, "./config/sys.config"},
        %{vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {overlay, [
                   {template, "config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"}]}
       ]
}.

{profiles, [{prod, [{relx, [{overlay_vars, "./config/vars_dev1.config"},
                            {vm_args, "./config/dev1_vm.args"},
                            {dev_mode, false},
                            {system_libs, false},
                            {include_src, false},
                            {include_erts, false}]}]},
            {dev1, [{relx, [{overlay_vars, "./config/vars_dev1.config"},
                            {vm_args, "./config/dev1_vm.args"}]}]},
            {dev2, [{relx, [{overlay_vars, "./config/vars_dev2.config"},
                            {vm_args, "./config/dev2_vm.args"}]}]},
            {dev3, [{relx, [{overlay_vars, "./config/vars_dev3.config"},
                            {vm_args, "./config/dev3_vm.args"}]}]}
           ]
}.
