{erl_opts, [debug_info]}.
{deps, [
        {riak_core, 
         {git, "https://github.com/project-fifo/riak_core.git", 
          {branch, "fifo-0.9.2"}}},
        {cowboy, 
         {git, "https://github.com/ninenines/cowboy", 
          {tag, "2.0.0-pre.9"}}},
        jiffy,
        {uuid, 
         {git, "https://github.com/avtobiff/erlang-uuid.git"}}, 
        {ebus, 
         {git, "https://github.com/cabol/erlbus"}}
       ]
}.

{relx, [{release, {fullpass, "0.1.0"},
         [riak_core,
          cuttlefish,
          cowboy,
          uuid,
          ebus,
          cmkit,
          cmdb,
          cmplugin,
          cmsource,
          facebook,
          fullpass,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},
        {overlay_vars, "./config/vars.config"},
        {overlay, [
                   {mkdir, "data/ring"},
                   {mkdir, "data/schema"},
                   {mkdir, "data/db"},
                   {template,
                    "./_build/default/lib/riak_core/priv/riak_core.schema",
                    "data/schema/12-riak_core.schema"},
                   {template,
                    "./_build/default/lib/cuttlefish/priv/erlang_vm.schema",
                    "data/schema/11-erlang_vm.schema" },
                   {template,
                    "./_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", 
                    "data/schema/15-riak_sysmon.schema"},
                   {template,
                    "./_build/default/lib/eleveldb/priv/eleveldb.schema",
                    "data/schema/21-leveldb.schema"}
                  ]}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},
            {dev1, [{relx, [{overlay_vars, "./config/vars_dev1.config"},
                            {vm_args, "./config/dev1_vm.args"}]}]},
            {dev2, [{relx, [{overlay_vars, "./config/vars_dev2.config"},
                            {vm_args, "./config/dev2_vm.args"}]}]},
            {dev3, [{relx, [{overlay_vars, "./config/vars_dev3.config"},
                            {vm_args, "./config/dev3_vm.args"}]}]}
           ]
}.
