{erl_opts, [debug_info]}.
{deps, [
          {cowboy, {git, "https://github.com/ninenines/cowboy", 
                    {tag, "2.0.0-pre.9"}}},
          jiffy,
          {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git"}}, 
          {ebus, {git, "https://github.com/cabol/erlbus"}}
       ]
}.

{relx, [{release, { fullpass, "0.1.0" },
         [cowboy,
          uuid,
          ebus,
          cmkit,
          cmdb,
          cmsource,
          facebook,
          fullpass,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

