[{mnesia, [{dir, "~/data/fullpass"}]},
 {riak_core, [
   {ring_state_dir, "data/ring"},
   {schema_dirs, ["data/schema"]},
   {handoff_port, 8099},
   {ring_creation_size, 16}
 ]},
 {cmdb, [
  {dir, [{default, "data/db"}]},
  {reads, [{default, 1}]},
  {writes, [{default, 3}]}
 ]},
 {cmcluster, [
  {enabled, [{default, false}, {prod, false}]},
  {members, [{default, []}]}]},
 {cmsource, [
    {dir, [
      {default, "/tmp"}, 
      {prod, "/home/git/fullpass/log"}]}
 ]},
 {facebook, [
  {url, [{default, <<"https://graph.facebook.com">>}]},
  {client, [{default, <<"714947908637880">>}]},
  {redirect, [
    {default, <<"http://localhost:8080/api/login">>},
    {prod, <<"http://fullpass.in/api/login">>}]},
  {secret, [{default, <<"58223222d8ebd646eb21e916318bb857">>}]}]},
 {fullpass, [
  {http_acceptors, [{default, 1}, {prod, 100}]},
  {http_port, [{default, 8080}]},
  {debug, [{default, false}]},
  {session_ttl, [{default, 60}]},
  {app_url, [
    {default, <<"http://localhost:8081">>}, 
    {prod, <<"http://fullpass.in">>}]}
    ]}
].
