%%-*- mode: erlang -*-

[ {mnesia, [{dir, "/Users/pedrogutierrez/Projects/data/{{ name }}"}]},
  {sasl, [
          {sasl_error_logger, false}
         ]},
  {cmdb, [
          {db, "/Users/pedrogutierrez/Projects/data/{{ name }}.db"}
         ]},
  {cmcluster, [
               {nodename, {{name}}},
               {cluster, "local"},
               {workdir, "/Users/pedrogutierrez/Projects/data/cmcluster/{{ name }}"}
              ]},
  {cms3,[ 
          {s3_access_key, "5c25d59b9e627944701b"},
          {s3_secret_key, "360245a2072794d11fb6e69a91ee8af49498233b"},
          %{s3_access_key, "AKIAJHOLZO2FCTJXICJQ"},
          %{s3_secret_key, "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"},
          %{s3_host, "s3-us-west-1.amazonaws.com"},
          {s3_host, "minio-rwa.netc.io"},
          {s3_port, 443},
          {s3_scheme, https},
          {s3_region, "us-east-1"},
          {s3_bucket_access, path}
         ]},
  {cmweb, [
           {apps, [{weekonekt, 8080, 1},
                   {fullpass, 8081, 1},
                   {admin, 8082, 1}]},
           {debug, true}
          ]},
  {cmsoup, [
            {server, "localhost"},
            {port, 3000},
            {path, "/"}
           ]},
  {cmrtc, [
           {session_ttl, 60},
           {app_url, <<"http://localhost:8081">>}
          ]}
].
