%%-*- mode: erlang -*-

[ {mnesia, [{dir, "/Users/pedrogutierrez/Projects/data/{{ name }}"}]},
  {sasl, [
          {sasl_error_logger, false}
         ]},
  {cmdb, [
          {db, [{default, "/Users/pedrogutierrez/Projects/data/{{ name }}.db"}]}
         ]},
  {cmcluster, [
               {nodename, [{default, {{name}}}]},
               {workdir, [{default, "/Users/pedrogutierrez/Projects/data/cmcluster/{{ name }}"}]}
              ]},
  {cmweb, [
           {apps, [{default, [{weekonekt, 8080, 1},
                              {fullpass, 8081, 1}]}]},
           {debug, [{default, true}]},
           {s3_access_key, [{default, "5c25d59b9e627944701b"}]},
           {s3_secret_key, [{default, "360245a2072794d11fb6e69a91ee8af49498233b"}]},
           {s3_host, [{default, "http://localhost:9000"}]},
           {s3_bucket_access, [{default, path}]}
          ]},
  {cmsoup, [
            {server, [{default, "localhost"}]},
            {port, [{default, 3000}]},
            {path, [{default, "/"}]}
           ]},
  {cmrtc, [
           {session_ttl, [{default, 60}]},
           {app_url, [
                      {default, <<"http://localhost:8081">>}, 
                      {prod, <<"http://cmrtc.in">>}]}
          ]}
].
