[Unit]
Description=Start {{ app_name }}
After=network.target

[Service]
WorkingDirectory=/home/{{ app_user }}/app
ExecStart=/home/{{ app_user}}/app/_build/default/rel/cmrtc/bin/cmrtc start
ExecStop=/home/{{ app_user}}/app/_build/default/rel/cmrtc/bin/cmrtc stop
User={{ app_user }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
