%%-*- mode: erlang -*-

[ {mnesia, [{dir, "/home/{{ app_user }}/data/mnesia"}]},
  {sasl, [
          {sasl_error_logger, false}
         ]},
  {cmcluster, [
               {nodename, {{ ansible_hostname }}},
               {workdir, "/home/{{ app_user }}/data/cluster"}
              ]},
  {cms3, [
          {s3_access_key, "5c25d59b9e627944701b"},
          {s3_secret_key, "360245a2072794d11fb6e69a91ee8af49498233b"},
          {s3_host, "http://localhost:9000"},
          {s3_bucket_access, path}
         ]},
  {cmweb, [
           {apps, [{weekonekt, 8080, 1},
                   {fullpass, 8081, 1},
                   {admin, 8082, 1}]},
           {debug, true}
          ]},
  {cmsoup, [
            {server, "localhost"},
            {port, 3000},
            {path, "/"}
           ]},
  {cmrtc, [
           {session_ttl, 60},
           {app_url, <<"https://{{ app_domain }}">>}
          ]}
].
